<footer class="footer">
  <div class="footer__box">
    <img
      class="footer__box--icon"
      src="./assets/images/ico-arrow.svg"
      alt="ico-arrow"
    />
  </div>
  <p><small>&copy;2021 We &hearts; components</small></p>
  <div>
    <nav>
      <ul>
        <li><a href="">Articles</a></li>
        <li><a href="">Books</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Reasons</a></li>
        <li><a href="">Tips</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Mastodon.social</a></li>
      </ul>
    </nav>
  </div>
</footer>
