<footer class="footer">
  <a href="#start" title="Top of Site"><div class="footer__icon"></div></a>
  <small class="Copy"
    ><div>&copy;2021</div>
    <div class="Copy__2">
      we <span class="love">&hearts;</span>
      <div class="componentes">components</div>
    </div></small
  >
  <nav>
    <ul class="articles">
      <include src="./links.html" title="Articles"></include>
      <include src="./links.html" title="Books"></include>
      <include src="./links.html" title="Events"></include>
      <include src="./links.html" title="Reasons"></include>
      <include src="./links.html" title="Tips"></include>
    </ul>
  </nav>
  <nav>
    <ul class="social">
      <include src="./links.html" title="Twitter"></include>
      <include src="./links.html" title="Instagram"></include>
      <include src="./links.html" title="Mastodon.Social"></include>
    </ul>
  </nav>
</footer>
