<main class="main">
  <section class="section__1">
    <h5 class="section__1--subtitle">Insomnia tips</h5>
    <h2 class="section__1--title">Looking through a window</h2>
    <p class="section__1--text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <div class="section__1--buttom">go</div>
  </section>
  <section class="section__2">
    <h2 class="section__2--title" id="section2__title">
      3 Reasons To Purchase
    </h2>
    <article class="article__1">
      <h3 class="article__1--title">Ut sed metus</h3>
      <p class="article__1--text">Lorem ipsum dolor sit amet, concecteur.</p>
    </article>
    <article class="article__2">
      <h3 class="article__2--title">Curabitur ac erat</h3>
      <p class="article__2--text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="article__3">
      <h3 class="article__3--title">Morbi dictumust</h3>
      <p class="article__3--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <buttom class="section__2--buttom">More Reasons</buttom>
  </section>
</main>
