// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$color-buttom: #f26002;
$color-none: #ffffff;
$color-dark: #304268;
$color-medium: #0271bc;
$color-light: #8ccbea;
