.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: $color-dark;
  color: $color-none;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer__box {
  width: 45px;
  height: 45px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background-color: $color-none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 45px;
  margin: auto;
  @media all and (min-width: 768px) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer__box--icon {
  width: 20px;
  height: 24px;
  vertical-align: middle;
}
.Copy {
  order: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 14px;
  font-family: $font-main;
  font-weight: lighter;
  margin-bottom: 45px;
  padding-top: 5px;
  @media all and (min-width: 768px) {
    order: 0;
    text-align: left;
    margin-left: 40px;
    margin-top: 45px;
  }
}
.Copy__2 {
  padding-top: 10px;
}
.articles,
.twitter {
  font-size: 16px;
  text-transform: uppercase;
  font-family: $font-main;
}
.twitter {
  margin: 30px auto 30px auto;
  @media all and (min-width: 768px) {
    margin-top: 45px;
    width: 210px;
    text-align: left;
  }
}
.articles {
  margin-top: 45px;
  @media all and (min-width: 768px) {
    width: 210px;
    text-align: left;
    margin-bottom: 45px;
  }
}
.article__link,
.twitter__link {
  color: $color-none;
}
.li {
  padding-bottom: 10px;
  font-weight: 200;
  text-decoration: none;
}
