.hero {
  width: 100vw;
  height: 100vh;
}

.hero__pic {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}
