.hero {
  width: 100vw;
  height: 100vh;
}
.hero__pic {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  width: 290px;
  height: 110px;
  margin: 284px auto 0 auto;
  color: $color-none;
  font-size: 42px;
  line-height: 55px;
  font-family: $font-title;
  text-transform: uppercase;
  text-align: center;
  @media all and (min-width: 768px) {
    width: 690px;
    height: 212px;
    font-size: 80px;
    line-height: 106px;
  }
}
.hero__subtitle {
  /*width: 290px;
  height: 21px;*/
  color: $color-none;
  font-size: 16px;
  font-family: $font-main;
  text-align: center;
  margin: 10px 0 45px 0;
  font-weight: normal;
  letter-spacing: normal;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}
.hero__box {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-none;
  margin: 45px auto 53px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__box--icon {
  width: 20px;
  height: 12px;
  vertical-align: middle;
}
