.main {
  width: 100vw;

  @media all and (min-width: 768px) {
    height: 100px;
  }
  @media all and (min-width: 1280px) {
    height: 110px;
  }
}

.section__2 {
  background-color: #eff9ff;
}
.section__2--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "title" "article__1" "article__2" "article__3" "button";
}

.section__2--title {
  grid-area: title;
  color: black;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: $font-title;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 30px;
}
.article {
  text-align: center;
  .1 {
    grid-area: article__1;
  }
  .2 {
    grid-area: article__2;
  }
  .3 {
    grid-area: article__3;
  }
}

.article__title {
  font-size: 18px;
  font-family: $font-title;
  margin-top: 45px;
}
.article__text {
  font-size: 18px;
  font-family: $font-main;
  line-height: 30px;
  padding: 5px 95px 0 95px;
}
.section__button {
  grid-area: button;
  text-align: center;
  width: 184px;
  height: 45px;
  border-radius: 1.5rem;
  color: $color-none;
  background-color: $color-button;
  font-size: 20px;
  font-family: $font-main;
  margin: 30px auto 60px auto;
  border: 2px solid $color-button;
}
