.section__2 {
  height: auto;
  background-color: #eff9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media all and (min-width: 768px) {
    padding: 0 36px 0 36px;
  }
  @media all and (min-width: 1280px) {
    padding: 0 81px 0 81px;
  }
}
.section__2--title {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: $font-title;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 30px;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 45px;
  }
  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
}
.section__2--container {
  display: grid;
  /*justify-content: center;
  align-items: center;*/
  grid-template-columns: 180px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a" "b" "c";
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 28px;
  }
  @media all and (min-width: 1280px) {
    column-gap: 30px;
  }
}

.article {
  text-align: center;
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
}

.article__title {
  font-size: 18px;
  font-family: $font-title;
  margin-top: 45px;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}
.article__text {
  font-size: 18px;
  font-family: $font-main;
  line-height: 30px;
  padding-top: 14px;
  @media all and (min-width: 768px) {
    font-size: 20px;
    width: 223px;
    padding: 14px 10px 0 10px;
  }
  @media all and (min-width: 1280px) {
    width: 354px;
  }
}
.section__button {
  width: 184px;
  height: 45px;
  border-radius: 1.5rem;
  color: $color-none;
  background-color: $color-button;
  font-size: 20px;
  font-family: $font-main;
  margin: 30px auto 60px auto;
  border: 2px solid $color-button;
  &:hover {
    background-color: $color-none;
    color: $color-button;
    border-color: $color-dark;
  }
  @media all and (min-width: 768px) {
    width: 210px;
    margin: 60px auto;
  }
  @media all and (min-width: 1280px) {
    width: 255px;
  }
}
