.section__2 {
  background-color: #eff9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__2--title {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: $font-title;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 30px;
}
.section__2--container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 180px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "article__1" "article__2" "article__3";
}

.article {
  text-align: center;
  .1 {
    grid-area: article__1;
  }
  .2 {
    grid-area: article__2;
  }
  .3 {
    grid-area: article__3;
  }
}

.article__title {
  font-size: 18px;
  font-family: $font-title;
  margin-top: 45px;
}
.article__text {
  font-size: 18px;
  font-family: $font-main;
  line-height: 30px;
  padding-top: 5px;
}
.section__button {
  width: 184px;
  height: 45px;
  border-radius: 1.5rem;
  color: $color-none;
  background-color: $color-button;
  font-size: 20px;
  font-family: $font-main;
  margin: 30px auto 60px auto;
  border: 2px solid $color-button;
}
